

/* Navbar */
.navbar {
  background-color: rgb(8, 7, 7);
  width: 100%;
}

.navbar a {
  color: white;
  padding: 10px;
  float: left;
}

.navbar a:hover {
  color: grey;
}

.homepage {
  text-align: center;
}

.banner {
  width: 100%;
}

/* Content 1 */
.content1 {
  display: flex;
}

.box {
  text-align: center;
  width: 100%;
  padding: 15px;
}

.title {
  margin-bottom: 10px;
}

.desc {
  font-size: smaller;
}

.poster{
  width:30%;
}