

/* Navbar */
.navbar {
  background-color: rgb(8, 7, 7);
  width: 100%;
}

.navbar a {
  color: white;
  padding: 10px;
  float: left;
}

.navbar a:hover {
  color: grey;
}

.homepage {
  text-align: center;
}

.banner {
  width: 100%;
}

.poster{
  width:15%;
}