
/* Navbar */
.navbar {
  background-color: rgb(8, 7, 7);
  width: 100%;
}

.navbar a {
  color: white;
  padding: 10px;
  float: left;
}

.navbar a:hover {
  color: grey;
}

.homepage {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: aliceblue;
  background: #536976;
  background: -moz-linear-gradient(45deg, #536976 0%, #292E49 100%);
  background: -webkit-linear-gradient(45deg, #536976 0%, #292E49 100%);
  background: linear-gradient(45deg, #536976 0%, #292E49 100%);
}

.banner {
  width: 90%;
  margin-bottom: 25px;
  margin-top: 25px;
}

/* Content 1 */
.trending {
  display: grid;
  margin-left: 5px;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 2px;
  justify-content: center;
}

.title {
  margin-top: 15px;
  font-size: 20px;
}

.poster{
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 7px 9px 15px 5px #000000; 
  box-shadow: 7px 9px 15px 5px #000000;
}

.poster:hover {
  animation-name: fade;
  animation-duration: 2s;
}


@keyframes fade {
  from {opacity: 0.0}
  to {opacity: 1}
}
